@media(max-width: 1066px){
    .bemvindo p{
        font-size: small;
    }
}

@media(max-width: 960px){
    .bemvindo img{
        display: none;
    }
    .bemvindo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 807px){
    .contagrid, .vantagemgrid{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    .hamburguer, .smallLogo{
        display: flex;
    }

    .hamburguer{
        font-size: 25px;
    }

    .smallLogo img{
        width: 48px;
    }
    .biglogo, .navbar{
        display: none;
    }

    .conta-icon span{
        display: none;
    }
}

@media(max-width: 426px){
    .contas h1{
        font-size: 1.5em;
    }
    .vantagemgrid{
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .header2, .aberto{
        font-size: smaller;
    }
}