:root{
    --texto: #222222;
    --background: #dadada;
    --principal: #C51F22;
    --sombra: #8f191b;
}

*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}
/*fontes personalizadas --------------------------------------------------------*/
@font-face{
    font-family: "cano";
    src: url("../fonts/Cano.otf") format("opentype");
}

@font-face{
    font-family: "Dancing-Script";
    src: url('../fonts/DancingScript-Bold.otf') format("opentype");
}

@font-face{
    font-family: "DM-sans";
    src: url("../fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Jellee-Roman";
    src: url("../fonts/Jellee-Roman.ttf") format("truetype");
}

@font-face{
    font-family: "Barista Script";
    src: url('../fonts/BaristaScript.otf') format("opentype");
}

@font-face{
    font-family: "Antoinette-Miller";
    src: url("../fonts/Antoinette-Miller.ttf") format("truetype");
}

@font-face{
    font-family: "GRAD";
    src: url("../fonts/GRAD.ttf") format("truetype");
}

/*barra de rolagem personalizada ----------------------------------------------*/

*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
*::-webkit-scrollbar-track {
    background: var(--background);        /* color of the tracking area */
    padding: 2px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #4a0d08;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
/*    border: 2px solid var(--background);   creates padding around scroll thumb */

}
/* página inicial ------------------------------------------------------------- */

.inicio{
    background-color: var(--background);
}

/* cabeçalho ------------------------------------------------------------ */
.header1{
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    width: 250px;
}

.conta-icon i{
    font-size: 30px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.conta-icon{
    text-decoration: none;
    color: var(--texto);
    text-align: center;
}

.hamburguer, .smallLogo{
    display: none;
}

/* cabeçalho do mobile -------------------------------------------------------------- */

.navmobile{
    background-color: var(--background);
    padding: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.header2{
    display: none;
}

.aberto{
    display: block;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-down {
  animation: slideDown 1s forwards;
}
/* botões padronizados --------------------------------------------------------- */

.botao1{
    padding: 10px;
    border-radius: 12px;
    border-bottom: solid 2px var(--sombra);
    background-color: var(--principal);
    margin: 5px;
    color: var(--background);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-self: center;
}

.botao1:hover{
    border-bottom: solid 4px var(--sombra);
}

/* inicio --------------------------------------------------------------------------------------------- */

.bemvindo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--sombra);
}

.bemvindo img{
    width: 100%;
}

.bvtxt{
    align-self: center;
    text-align: center;
    padding: 50px;
    color: var(--background);
}

/*seção de vantágens------------------------------------------------------------------------------------*/

.vantagens{
    background-color: var(--texto);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    flex-direction: column;
}

.vantagens h2{
    color: var(--principal);
}

.vantagemgrid{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.vantagem{
    text-align: center;
    padding: 6px;
    border-left: solid 2px var(--background);
    border-right: solid 2px var(--background);
}

.vantagem *{
    margin: 8px;
}

.vantagem i{
    font-size: xx-large;
}

/* transição de seções ------------------------------------------------------------------------------ */

.vantagens {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 40px),50% 100%,0 calc(100% - 40px));
  }
.contas {
    clip-path: polygon(0 0,50% 40px,100% 0,100% 100%,0 100%);
    margin-top: -30px;
}

/* Seção de contas -------------------------------------------------------------------------------------- */

.contas{
    background-color: var(--texto);
    color: var(--background);
}

.contas h1{
    font-size: 3em;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

.controle{
    color: var(--principal);
    font-size: 1.4em;
}

.contas h2{
    text-align: center;
    padding: 50px;
}

.contagrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    padding: 22px;
    padding-bottom: 52px;

}
.conta h3{
    color: var(--principal);
}
.conta{
    width: fit-content;
    padding: 22px;
    text-align: center;
    border-left: solid 2px var(--principal);
    border-right: solid 2px var(--principal);
    height: 80%;
}

.cartaobtn{
    display: flex;
    justify-content: center;
    padding: 7px;
}

.btncartao{
    text-align: center;
    margin-bottom: 22px;
}

.contas img{
    width: 100%;
}

.subtitle{
    font-weight: bold;
}

/*botão para exibir conteudo--------------------------------------------------------------------------------*/

.maisinfo{
    margin: 8px;
    height: 0px;    
    overflow: hidden;
    text-align: left !important;
}

.expand{
    appearance: none;
    border: 1px solid var(--background);
    padding: 8px;
    background-color: transparent;
    border-radius: 3px;
    color: var(--background);
    transition: 0.3s;
}

.expand:hover{
    border: 1px solid var(--principal);
    color: var(--principal);
    transition: 0.3s;
}

.expand::before{
    content: "Saiba mais";
}

.expand:checked::before{
    content: "Fechar";
}

.maisinfo:has(+ .expand:checked){
    height: auto;
}

/*disclaimer ---------------------------------------------------------------------------------------------*/

#disclaimer{
    display: flex;
    align-items: center;
    padding: 12px;
    position: sticky;
    top: 0px;
    height: 0px;
    z-index: 4;

}

#disclaimer h3{ 
    background-color: var(--background);
    padding: 12px;
    border: 2px solid black;
}
#disclaimer button{
    border: none;
    background-color: transparent;
    font-size: large;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}

/*rodápé -------------------------------------------------------------------------------------------------*/

.footer{
    background-color: var(--background);
    padding: 18px;
}

/*página do cartão maze ----------------------------------------------------------------------------------*/

.mazecard{
    background-color: var(--background);
}

/*cartão basic -------------------------------------------------------------------------------------------*/

.basic{
    background-image: url("../img/fundo.png");
    background-size: cover;
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;

}

.basicgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.basicgrid div{
    align-self: center;
}

.cartaobasic img{
    width: 100%;
    transition: 1s;
}

.cartaobasic img:hover{
    transform: scale(1.3);
    transition: 1s;
}

.cardtitulo{
    font-size: 6rem;
    text-align: center;
    animation-name: trocaFonte;
    animation-duration: 12s;
    animation-iteration-count: infinite;

}

.basicinfo{
    text-align: center;
    margin: 22px;
}

.basicinfo h2{
    font-family: "Dancing-Script" !important;
    font-size: 3em;
    padding: 12px;
    color: var(--principal);
}

.basicinfo p{
    font-size: large;
}

/*animação das fontes trocando ----------------------------------------------------------------------*/

@keyframes trocaFonte{
    0%{
        font-family: "Dancing-Script";
    }

    10%{
        font-family: "Dancing-Script";
    }
    20%{
        font-family: "cano";
    }
    30%{
        font-family: "GRAD";
    }
    40%{
        font-family: "DM-sans";
    }
    50%{
        font-family: "Jellee-Roman";
    }
    60%{
        font-family: "Barista Script";
    }
    70%{
        font-family: "Antoinette-Miller";
    }
}

/*mazecard rewards--------------- ------------------------------------------------------------------*/
.basic {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 30px),50% 100%,0 calc(100% - 30px));
}
.rewards {
  clip-path: polygon(0 0,50% 30px,100% 0,100% 100%,0 100%);
  margin-top: -20px;
}

.rewards{
    display: grid;
    grid-template-columns: 3fr 4fr;
    background-color: var(--texto);
    color: var(--background);
}

.rewardimg img{
    width: 100%;
    transition: 1s;
}

.rewardimg img:hover{
    transform: scale(1.3);
    transition: 1s;
}

.rewardtext{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 22px;
}

.rewardtitle{
    display: flex;
    align-items: center;
}

.rewardfont{
    font-family: "Barista Script";
    font-size: xx-large;
    color: var(--principal);
}

.desc {
    padding-right: 20%;
}

/*mazecard travel -----------------------------------------------------------------------------*/

.travel{
    background-color: var(--texto);
    color: var(--background);
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 12px;
}

.travelFont{
    font-family: "Antoinette-Miller";
    color: var(--principal);
    font-size: 2.5em;
}

.travelImg img{
    width: 100%;
    transition: 1s;
}

.travelImg img:hover{
    transform: scale(1.3);
    transition: 1s;
}

.travelTxt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 22px;
}

.travelTxt p{
    padding-right: 20%;
}

/*mazecard debit ------------------------------------------------------------------------------*/

hr{
    border: solid 2px var(--background);
}

.debit{
    background-color: var(--texto);
    color: var(--background);
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 12px;
}


.debit span{
    font-family: "cano";
    color: var(--principal);
    font-size: xx-large;
}

.debitgrid{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.cor{
    height: 18px;
    width: 18px;
    border: 2px solid var(--background);
    border-radius: 50px;
    margin: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#debitofoto img{
    width: 70%;
    transition: 1s;

}

#debitofoto img:hover{
    transform: scale(1.3);
    transition: 1s;
}

.seletordcor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    position: relative;
    z-index: 2;
}

.debitTxt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
}

.debitTxt p{
    padding-left: 20%;
}

/* mazecard elite --------------------------------------------------------------------------------- */

.debit {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 30px),50% 100%,0 calc(100% - 30px));
}
.elite {
  clip-path: polygon(0 0,50% 30px,100% 0,100% 100%,0 100%);
  margin-top: -20px;
}

.elite{
    background-image: url("../img/camo-red.png");
    background-size: cover;
    color: var(--background);
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 12px;
}

.eliteImg img{
    width: 100%;
    transition: 1s;
}

.eliteImg img:hover{
    transform: scale(1.3);
    transition: 1s;
}

.eliteTxt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.eliteDesc{
    text-align: justify;
}

.eliteTitle img{
    width: 10em;
}