:root{
    --texto: #222222;
    --background: #dadada;
    --principal: #C51F22;
    --sombra: #8f191b;
}

*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}


*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
*::-webkit-scrollbar-track {
    background: var(--background);        /* color of the tracking area */
    padding: 2px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #4a0d08;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
/*    border: 2px solid var(--background);   creates padding around scroll thumb */

}
/* página inicial ------------------------------------------------------------- */
/* cabeçalho ------------------------------------------------------------ */
.header{
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    width: 250px;
}

.conta-icon i{
    font-size: 30px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.conta-icon{
    text-decoration: none;
    color: var(--texto);
}
/* botões padronizados --------------------------------------------------------- */

.botao1{
    padding: 10px;
    border-radius: 12px;
    border-bottom: solid 2px var(--sombra);
    background-color: var(--principal);
    margin: 5px;
    color: var(--background);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao1:hover{
    border-bottom: solid 4px var(--sombra);
}

/* inicio --------------------------------------------------------------------------------------------- */

.bemvindo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--sombra);
}

.bemvindo img{
    width: 100%;
}

.bvtxt{
    align-self: center;
    text-align: center;
    padding: 50px;
    color: var(--background);
}

/*seção de vantágens------------------------------------------------------------------------------------*/

.vantagens{
    background-color: var(--texto);
    color: var(--background);
    display: flex;
    justify-content: center;
    padding: 32px;
}

.vantagemgrid{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.vantagem{
    text-align: center;
    padding: 8px;
}

.vantagem *{
    margin: 8px;
}

.vantagem i{
    font-size: xx-large;
}

/*rodápé -------------------------------------------------------------------------------------------------*/

.footer{
    background-color: var(--background);
    padding: 18px;
}